body {
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center ;
    background-color: azure;
}

.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 630px;
    width: 630px;
}

.node {
    width: 37.375px;
    height: 37.375px;
    background-color: white;
    border: 1px groove;
}

button {
    margin: 20px;
}

.menu {
    display: flex;
    flex-direction: column;
    margin: 46px;
}

.info {
    margin-left: 154px;
    font-size: 42px;
}